.hero {
    display: flex;
    flex-direction: column;
    margin: 25px auto 0 auto;
    width: 70%;
    max-width: 800px;
}

/* .hero {
    text-align: center;
    color: #E6E6E6;
    background: rgb(7,43,61);
    background: linear-gradient(130deg, rgba(7,43,61,1) 0%, rgba(7,43,61,1) 35%, rgba(10,27,41,1) 100%);
    padding: 50px 20px;
    font-family: 'Antarctic Headline Medium', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-container {
    width: 75%; 
    min-width: 200px;
    max-width: 400px;
    margin: 0 auto 50px auto; 
}
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  
  .text-container {
    max-width: 75%;
    min-width: 200px;
    max-width: 400px;
    margin: 0 auto 50px auto;
    text-align: left;
  }
  
  h2 {
    color: #E2A740;
    text-align: center;
    padding: 25px 0;
    font-size: 2.5em;
  }

  h1 {
    color: #E6E6E6;
    padding-bottom: 15px;
  }

  .hero h1, .hero h2, .hero p {
    margin: 0;
    width: 100%;
  }
   */
