body {
    background: rgb(7,43,61);
    background: linear-gradient(130deg, rgba(7,43,61,1) 0%, rgba(7,43,61,1) 35%, rgba(10,27,41,1) 100%);
    width: 100vw;
    height: 100vh;
    color: #e6e6e6;
    background-repeat: no-repeat;
    background-size: cover;
}